@font-face {
  font-family: "Pinyon Script";
  src: url("../fonts/pinyonscript/PinyonScript-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Amatic SC";
  font-weight: bold;
  src: url("../fonts/amatic-sc/AmaticSC-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Amatic SC";
  font-weight: normal;
  src: url("../fonts/amatic-sc/AmaticSC-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: lighter;
  src: url("../fonts/poppins/Poppins-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url("../fonts/poppins/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url("../fonts/poppins/Poppins-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: bolder;
  src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: url("../fonts/opensans/OpenSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url("../fonts/opensans/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  src: url("../fonts/opensans/OpenSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/cormorant-infant/CormorantInfant-Light.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/cormorant-infant/CormorantInfant-LightItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/cormorant-infant/CormorantInfant-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cormorant-infant/CormorantInfant-Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/cormorant-infant/CormorantInfant-Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/cormorant-infant/CormorantInfant-MediumItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/cormorant-infant/CormorantInfant-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/cormorant-infant/CormorantInfant-SemiBoldItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/cormorant-infant/CormorantInfant-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Cormorant";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cormorant-infant/CormorantInfant-BoldItalic.woff2")
    format("woff2");
}
