

/* ====================== [ Start Blog ] ====================== */

.blog{

    .background{
        opacity: .3;
    }

    .item{

        .img{
            min-height: 250px;
        }

        .cont{
            padding-top: 30px;

            .tags{
                overflow: hidden;

                .tag{
                    padding: 2px 10px;
                    background: $main-color;
                    color: #fff;
                    font-size: 12px;
                    margin-left: 5px;
                    float: right;
                }
            }

            .info{
                display: flex;
                margin-bottom: 10px;

                .author,
                .date,
                .coments{

                    span{
                        font-size: 12px;
                        padding: 5px;
                        background: #f0f0f0;
                        font-family: 'Cormorant', serif;
                    }
                }

                .author{

                    span{
                        
                        i{
                            font-style: normal;
                            color: $main-color;
                            font-size: 10px;
                            margin-right: 5px;
                        }
                    }
                }

                .date{

                    span{
                        margin: 0 5px;
                    }
                }
            }

            .text{
                margin-bottom: 20px;

                h4{
                    font-size: 26px;
                    font-family: 'Cormorant', serif;
                }

                p{
                    font-size: 14px;
                    margin-top: 10px;
                }
            }

            .more{

                a{
                    color: $main-color;
                    font-size: 16px;
                    font-weight: 300;
                    letter-spacing: 1px;
                    position: relative;

                    &:after{
                        content: '';
                        width: 100%;
                        height: 10px;
                        background: $main-color;
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        opacity: .1;
                    }
                }
            }
        }
    }
}

/* ====================== [ End Blog ] ====================== */