

/* ====================== [ Start Call To Action  ] ====================== */

.block-parallax{
    padding: 220px 0;

    h2{

        &.scfont{
            font-size: 70px;
            letter-spacing: 25px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
    }
}

/* ====================== [ End Call To Action  ] ====================== */