

/* ====================== [ Start contact ] ====================== */

.contact-us{

    .map-info{

        .map{
            width: 100%;
            height: 300px;
        }

        .con-info{
            
            .item{

                h4{
                    color: $main-color;
                    margin-bottom: 30px;
                }

                li{
                    display: flex;
                    margin-top: 15px;

                    .icon{
                        font-size: 20px;
                        color: $main-color;
                        margin-top: 8px;
                    }

                    p{
                        font-size: 16px;
                        margin-left: 20px;
                    }

                    a{

                        &:hover{
                            color: $main-color;
                        }
                    }
                }
            }
        }
    }

    .opening{
        padding: 60px 40px;
        position: relative;
        color: #fff;
        background: #18181d;
        text-align: center;
        position: relative;

        &:after, &:before{
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border: 1px solid rgba(255,255,255,.1);
            z-index: 3;
        }

        &:before{
            top: 20px;
            left: 10px;
            right: 10px;
            bottom: 20px;
        }

        h6{
            color: $main-color;
            text-transform: capitalize;
            letter-spacing: 5px;
            margin-bottom: 5px;
        }

        h4{
            margin-bottom: 25px;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .open-hour{

            li{
                padding: 15px 0;
                font-size: 14px;
                color: #999;
                border-bottom: 1px dashed rgba(255,255,255,.1);
                text-align: left;

                span{
                    float: right;
                }
            }
        }

        .call-us{

            h5{
                color: $main-color;
                letter-spacing: 5px;
            }

            a{
                font-size: 25px;
                font-weight: 500;
            }
        }
    }

    .contact-form{

        input,
        textarea,
        .nice-select{
            width: 100%;
            font-size: 14px;
            font-weight: normal;
            height: 52px;
            line-height: 50px;
            outline: none;
            padding-left: 18px;
            background-color: transparent;
            border-radius: 5px;
            border: solid 1px rgba(201,171,129,.4);
        }

        textarea{
            padding: 15px;
            height: 140px;
            line-height: 2;
        }

        button{
            text-align: center;
            border: 0;
        }
    }
}

.booking{

    .nice-select{

        .list{
            height: 200px;
            overflow-y: auto;
            
            li{

                &:first-of-type{
                    display: none;
                }

                &.selected{
                    color: $main-color;
                }
            }
        }
    }

    .nice-select,
    .datepic{
        border: 1px solid #fff;
        background: transparent;
        height: 52px;
        line-height: 50px;
        border-radius: 0px;
        padding-left: 18px;
        padding-right: 30px;
    }

    .datepic{
        border: 1px solid #fff;
        background: transparent;
        width: 100%;
        font-size: 14px;
        font-weight: normal;
        outline: none;
        color: #fff;

        &::placeholder {
            color: #fff;
        }
    }

    a{
        width: 100%;
        height: 52px;
        text-align: center;
    }

    &.lit{

        .nice-select,
        .datepic{
            border-color: #333;
            color: #222;

            &::placeholder {
                color: #222;
            }
        }
    }
}

.booking-box{
    padding: 100px 0;

    .container{
        background: #d2cdb7;
        padding: 80px;
    }

    .toup{
        position: relative;
        z-index: 2;
    }

    .opening{
        padding: 60px 40px;
        position: relative;
        background: #18181d;
        text-align: center;
        position: relative;

        &:after, &:before{
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border: 1px solid rgba(255,255,255,.1);
            z-index: 3;
        }

        &:before{
            top: 20px;
            left: 10px;
            right: 10px;
            bottom: 20px;
        }

        h6{
            color: $main-color;
            text-transform: capitalize;
            letter-spacing: 5px;
            margin-bottom: 5px;
        }

        h4{
            margin-bottom: 25px;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 1px;
        }

        .open-hour{

            li{
                padding: 15px 0;
                font-size: 14px;
                color: #999;
                border-bottom: 1px dashed rgba(255,255,255,.1);
                text-align: left;

                span{
                    float: right;
                }
            }
        }

        .call-us{

            h5{
                color: $main-color;
                letter-spacing: 5px;
            }

            a{
                font-size: 25px;
                font-weight: 500;
            }
        }
    }

    .box-book{
        padding-left: 45px;

        .form{

            .form-group{
                margin-bottom: 30px;
            }

            input,
            textarea,
            .nice-select{
                width: 100%;
                font-size: 14px;
                font-weight: normal;
                height: 50px;
                line-height: 48px;
                outline: none;
                padding-left: 18px;
                padding-right: 30px;
                background: transparent;
                border: 1px solid #18181d;
                border-radius: 0;
                color: #18181d;

                &::placeholder {
                    color: #18181d;
                }
            }

            textarea{
                height: 120px;
            }

            button{
                width: 100%;
                text-align: center;
                border: 0;

                i{

                    &:after{
                        background: #18181d;
                    }
    
                    &:before{
                        border-color: #18181d;
                    }
                }
            }
        }
    }
}


.ui-widget-content,
.ui-widget.ui-widget-content,
.ui-widget-header,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active,
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button, .ui-button{
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
}

.ui-widget-content a{
    color: inherit;
}

.ui-widget-header{
    background: transparent;
}

.ui-datepicker td span, .ui-datepicker td a{
    text-align: center;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active{
    background: transparent;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: $main-color;
}

.ui-widget-header{
    font-weight: 400;
    font-size: 14px;
}

.ui-datepicker td{
    font-size: 13px;
}

.ui-datepicker th{
    font-size: 12px;
    font-weight: 600;
}

.ui-datepicker td span,
.ui-datepicker td a{
    padding: 5px;
}

.ui-icon-circle-triangle-w{
    background-position: -97px 0px;
}

.ui-icon-circle-triangle-e{
    background-position: -32px 0px;
}

#ui-datepicker-div{
    background: #fff;
}

/* ====================== [ End contact ] ====================== */