

/* ====================== [ Start services ] ====================== */

.feat-sec{
    position: relative;
    color: #fff;

    &:after,
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 65%;
        width: 100%;
        background: #18181d;
        z-index: -1;
    }

    &:before{
        top: auto;
        bottom: 0;
        height: 35%;
        background: #e5e1dc;
    }

    .square-flip{
		-webkit-perspective: 1000;
		-moz-perspective: 1000;
		-ms-perspective: 1000;
		perspective: 1000;
		-webkit-transform: perspective(1000px);
		-moz-transform: perspective(1000px);
		-ms-transform: perspective(1000px);
		transform: perspective(1000px);
		-webkit-transform-style: preserve-3d; 
		-moz-transform-style: preserve-3d; 
		-ms-transform-style: preserve-3d; 
		transform-style: preserve-3d; 		
		position:relative;
        background-size: cover;
        background-position: center center;
    }
        
    .square-flip{
        min-height: 350px;
    }
    
    .square,.square2{
        width:100%;
        height:100%;
    }
    
    .square{
        background-size: cover;
        background-position:center center;
        transition: transform .9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
        overflow: hidden;
        position:absolute;
        top:0;
        backface-visibility: hidden;

        h4{
            color: #fff;
            font-size: 22px;
            text-align: left;
        }
    }

    .square-flip .square{
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        z-index:1;
    }

    .square-flip:hover .square{
        transform: rotateY(-180deg);
        transform-style: preserve-3d;
    }

    .square2{
        background: #16191e;
        background-size: cover;
        background-position:center center;
        transition: transform .9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
        overflow: hidden;
        position:absolute;
        top:0;
        backface-visibility: hidden;

        &:after, &:before{
            content: '';
            position: absolute;
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
            border: 1px solid #fff;
            z-index: 3;
            opacity: .4;
        }

        &:before{
            top: 25px;
            left: 15px;
            right: 15px;
            bottom: 25px;
        }

        p{
            font-size: 13px;
            color: #fff;
        }
    }
    
    .square-flip .square2{
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        z-index:1;
    }
    
    .square-flip:hover .square2{
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }

    .square-container{
        padding:40px;
        text-align:center;
        height: 350px;
        position:relative;
        transition: transform .9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
        transform: translateX(0px)  scale(1);
        transform-style: preserve-3d;
        z-index:2;

        .box-title{
            width: 100%;
        }
    }
    
    .square-flip:hover .square-container{
        transform: translateX(-650px)  scale(.88);
    }

    .square-container2{
        padding:40px;
        text-align:center;
        position:relative;
        top:50%;
        transition: transform .9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
        transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
        transform-style: preserve-3d;
        z-index:2;
    }
    
    .square-flip:hover .square-container2{
        transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    }
    
    .flip-overlay{
        display:block;
        background:#000;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left: 0;
        opacity: .4;
    }
}

.services-box{

    .item{
        display: flex;

        .icon{
            color: $main-color;
            margin-right: 30px;

            &:before{
                font-size: 50px;
            }
        }

        h6{
            text-transform: uppercase;
            letter-spacing: 4px;
            margin-bottom: 10px;
        }

        p{
            font-size: 13px;
        }
    }
}

.feat-prod{

    .item{
        padding: 15px;
        margin: 0 10px;
        border: 1px solid rgba(255,255,255,.07);

        .img{
            height: 220px;
            width: 100%;
            background-position: center center;
        }

        .cont{
            padding: 15px 20px;
            background: #18181d;
            text-align: center;

            h6{
                margin-bottom: 5px;
            }

            .tags{

                a{
                    position: relative;
                    margin-right: 10px;
                    font-size: 12px;
                    color: #999;

                    &:after{
                        content: '/';
                        position: absolute;
                        top: 0;
                        right: -10px;
                    }

                    &:last-of-type{

                        &:after{
                            display: none;
                        }
                    }
                }
            }

            .price{
                color: $main-color;
                font-size: 16px;
                margin-top: 10px;
            }
        }
    }
}

/* ====================== [ End services ] ====================== */