

/* ====================== [ Start Footer ] ====================== */

.main-footer{
    color: #fff;
    padding-top: 80px;
    background-color: #18181d;

    &:before{
        background: #000;
        opacity: .75;
    }

    .ftop{
        padding-bottom: 30px;
        margin-bottom: 50px;
        border-bottom: 1px dashed rgba(255,255,255,.2);
        overflow: hidden;
    }

    .flogo{
        display: inline-block;

        img{
            width: 100px;
        }
    }

    .social{
        float: right;

        a{
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            font-size: 12px;
            color: $main-color;
            background: rgba(255,255,255,.04);
            border: 1px solid rgba(255,255,255,.2);
        }
    }

    .item{

        .ftitle{
            
            h6{
                color: $main-color;
                font-family: 'Cormorant', serif;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 30px;
            }
        }

        ul{
            margin: 0;

            li{

                .tit,
                .dots,
                span{
                    display: table-cell;
                    white-space: nowrap;
                }
            }

            li{
                margin-bottom: 20px;
                font-size: 14px;

                &:last-of-type{
                    margin-bottom: 0;
                }

                span{
                    white-space: nowrap;
                    padding-left: 10px;
                }

                .tit{
                    padding-right: 10px;
                }

                .dots{
                    height: 4px;
                    width: 100%;
                    border-bottom: 1px dashed rgba(255,255,255,.1);
                    position: relative;
                    top: -7px;
                }
            }
        }
    }

    .subscribe{

        p{
            font-size: 13px;
            margin-bottom: 10px;
        }

        form{
            display: flex;

            .fleft{
                width: 100%;
            }

            input{
                width: 100%;
                height: 100%;
                padding: 10px;
                color: #fff;
                background: rgba(255,255,255,.04);
                border: 1px solid rgba(255,255,255,.2);
            }

            button{
                border: 0;
                padding: 13px 25px;
                min-width: auto;

                span{
                    white-space: nowrap;
                    font-family: 'Playfair Display', serif;
                }
            }
        }
    }

    .ftail{
        padding: 30px 0;
        margin-top: 80px;
        background: #161718;
        position: relative;
        z-index: 2;

        p{
            font-size: 13px;

            a{
                color: $main-color;
            }
        }
    }
}

.insta{

    .flex{
        display: flex;
        padding: 0;
        margin: 0;
        position: relative;
    }

    .img{
        position: relative;

        &:hover{

            i{
                opacity: 1;
            }

            &:after{
                opacity: 0;
            }
        }

        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $main-color;
            transition: all .4s;
            opacity: .1;
        }

        i{
            position: absolute;
            top: 10px;
            right: 10px;
            color: #fff;
            transition: all .4s;
            opacity: 0;
        }
    }

    .follow{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

/* ====================== [ End Footer ] ====================== */