
/* ====================== [ Start Intro ] ====================== */

.intro-cls{

    .cont{

        h5{
            font-weight: 400;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-bottom: 15px;
        }

        h2{
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 15px;
        }
    }

    .imgsth{
        display: flex;

        .img1,.img2,.img3{
            border-radius: 30px;
            
            img{
                border: 15px solid #fff;
                border-radius: 30px;
            }
        }

        .img2{

            img{
                border-bottom: 0;
            }
        }

        .img2,.img3{

            img{
                border-right: 0;
            }
        }

        .img3{
            
            img{
                width: 120%;
            }
        }
    }

    .best-feat{

        .item{
            display: flex;
            padding: 15px;
            background: #fff;
            border-radius: 40px;

            &:hover{

                .icon{

                    &:after{
                        transform: rotate(360deg);
                        transition: all 5s linear;
                    }
                }
            }

            .icon{
                position: relative;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                border-radius: 50%;
                background: rgba(244,242,231,.8);

                &:after{
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    right: -5px;
                    bottom: -5px;
                    border-radius: 50%;
                    border: 1px dashed $main-color;
                    z-index: 2;
                }
            }

            .text{
                padding-left: 20px;

                h6{
                    font-size: 16px;
                }
            }
        }
    }
}

/* ====================== [ End Intro ] ====================== */