

/* ====================== [ Start Heading ] ====================== */

.sec-head{
	position: relative;
	margin: 0 auto 80px;

	h6{
		color: $main-color;
		font-weight: 300;
		font-size: 17px;
		text-transform: uppercase;
		letter-spacing: 14px;
		margin-bottom: 5px;
	}

	h3{
		font-size: 60px;
		font-weight: 300;
		letter-spacing: 2px;
	}

	.scfont{
		font-weight: 400;
		letter-spacing: 20px;
	}

	.tbg{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 10vw;
		opacity: .05;
	}

	.icon{
		margin-top: 30px;
		position: relative;

		&:after, &:before{
			content: '';
			position: absolute;
			width: 80px;
			height: 1px;
			background: #999;
			top: 50%;
			right: -100px;
			opacity: .5;
		}

		&:after{
			right: auto;
			left: -100px;
		}

		img{
			width: 15px;
		}
	}
}

.sub-title{
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;

	h6{
		font-family: 'Barlow Condensed', sans-serif;
		font-weight: 300;
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 4px;
	}

	span{
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background: $main-color;
		position: absolute;
		left: 6px;
		bottom: 5px;

		&:first-of-type{
			bottom: 11px;
		}

		&:last-of-type{
			left: 0px;
		}
	}
}

.main-title{
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 15px;
}

.extra-title{
	font-weight: 700;
}

.sm-title{
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}


/* ====================== [ End Heading ] ====================== */