

/* ====================== [ Start Testimonials ] ====================== */

.testimonials{
    position: relative;

    .background{
        width: 35%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .item{

        .quote-icon{
            width: 40px;
        }

		p{
			font-size: 22px;
		}

		.info{
            margin-top: 30px;

            .author{
                display: flex;
            }

			.img{
				width: 60px;
				height: 60px;
				border-radius: 50%;
				overflow: hidden;
            }
            
            .fxright{
                margin-left: 20px;
                padding-top: 5px;
            }

			.author-name{
				font-weight: 500;
				margin-bottom: 5px;
				color: $main-color;
			}

			.author-details{
				font-size: 13px;
			}
		}
    }
    
    .control{
        float: right;
        overflow: hidden;
    }

    &.classic{
        padding-top: 90px;

        .item{
            position: relative;
            text-align: center;
            padding: 0 50px;
            z-index: 2;

            .icon{
                width: 40px;
                margin-bottom: 20px;
            }

            .info{
                margin-top: 20px;
    
                .author{
                    display: block;
                }
    
                .img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: auto;
                    position: relative;
                }
                
                .fxright{
                    margin-top: 15px;
                    margin-left: 0px;
                    padding-top: 0px;
                }
    
                .author-name{
                    font-weight: 500;
                    margin-bottom: 5px;
                    color: #fff;
                }
    
                .author-details{
                    font-size: 13px;
                    color: $main-color;
                }
            }

            p{
                font-size: 24px;
                font-weight: 100;
                color: #eee;
            }

            .info,
            p{
                position: relative;
                z-index: 3;
            }
        }

        .control{
            float: none;
            overflow: visible;

            span{
                left: 30px;
        
                &.next{
                    left: auto;
                    right: 30px;
                }
            }
        }

        &.clis-lit{

            .item{

                .info{

                    .author-name{
                        color: #222;
                    }
                }

                p{
                    color: #777;
                }
            }
        }
    }
}

.control{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;

    span{
        width: 40px;
        height: 40px;
        line-height: 40px;
        border: 1px dashed rgba(255,255,255,.5);
        border-radius: 50%;
        text-align: center;
        font-size: 20px;
        transition: all .4s;
        position: absolute;
        top: 50%;
        left: -30px;

        &:hover{
            background: $main-color;
            border-color: $main-color;
        }

        &.next{
            left: auto;
            right: -30px;
        }
    }
}

/* ====================== [ End Testimonials ] ====================== */